<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">   

    <link href="<%= BASE_URL %>css/fontawesome.min.css" rel="stylesheet" type="text/css">
    <link href="<%= BASE_URL %>css/all.min.css" rel="stylesheet" type="text/css">



    <title>vue-cms</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but vue-cms doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="<%= BASE_URL %>vendor/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="<%= BASE_URL %>vendor/theme.min.js" referrerpolicy="origin"></script>
  </body>
</html>
