<template>
    <article class="message is-danger is-centered column is-half is-offset-one-quarter">
    <div class="message-header">
        <p>Page not found</p>
    </div>
    <div class="message-body">
        <img alt="404" src="../assets/404.png">
    </div>
    </article>
</template>