<template>
 
    <footer class="footer">
        <div class="admin-menu" v-if="isAuthenticated">
            <router-link class="navbar-item" to="/admin/panel">
                <img src="../assets/cogs-solid.svg"/>
            </router-link>
        </div>
        <div class="content has-text-centered">
            <p>
            <strong>Designed and developed </strong> by <a href="https://bitbucket.org/LyubomirSlavov"> Lyubomir Slavov</a>. 
            </p>
        </div>
    </footer>
</template>

<script>

import { authenticate } from '@/services/authService'
 
export default {
    mixins:[authenticate]
}
</script>

<style scoped>
    .admin-menu{
        position: fixed;
        bottom: 30px;
        right: 50px;   
    }
    .admin-menu img{
        width: 66px;
        height: 66px;
        max-height: 3.75rem;
    }
    .footer{
        padding: 3rem 1.5rem 3rem !important;
       
        bottom: 0;
        width: 100%;
    }
</style>