<template>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <router-link class="navbar-item" to="/">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </router-link>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample" @click="toggleMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample"  :class="[{'is-active': activeMenu},'navbar-menu']">
            <div class="navbar-start">
                <a class="navbar-item">
                    <router-link to="/">Home</router-link>
                </a>

                <a class="navbar-item">
                    Documentation
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Jobs
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end" >
                <div class="navbar-item">
                    <div class="buttons" v-if="!isAuthenticated">
                        <a class="button is-primary">
                            <strong>
                                <router-link to="/register"><i class="far fa-save"></i> Register</router-link>
                            </strong>
                        </a>
                        <a class="button is-light">
                            <router-link to="/login"><i class="fas fa-sign-in-alt"></i> Log in</router-link>
                        </a>
                    </div>
                     <div class="buttons" v-if="isAuthenticated">
                        <a class="button is-danger" @click="logout">
                            <strong>
                                <i class="far fa-share-square"></i> Logout
                            </strong>
                        </a>
                       
                    </div>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>

import { authenticate } from '@/services/authService'
 
export default {
    mixins:[authenticate],
    data(){
        return {
            activeMenu: false,
        };
    },
    methods:{
        toggleMenu(){
            this.activeMenu = !this.activeMenu;
        }
    }
}
</script>