<template>
    <section class="section">
        <div class="container">
            <div class="column is-full">
                
                <form @submit.prevent="onSubmit">
                    <div class="field">
                        <div class="control">
                            <input v-bind:class="[{'is-danger': $v.title.$error},'input','is-medium']"
                                v-model="$v.title.$model" type="text" placeholder="Title">
                        </div>
                        <p class="help is-danger" v-show="$v.title.$error">Title is required</p>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input v-bind:class="[{'is-danger': $v.url.$error},'input','is-small']"
                                v-model="$v.url.$model" type="text" placeholder="slug">
                        </div>
                        <p class="help is-danger" v-show="$v.url.$error">URL is required</p>
                    </div>
                    <div class="field">
                        <div class="control">
                            <textarea id="htmltextarea" v-bind:class="[{'is-danger': $v.text.$error},'input','is-medium']"
                                v-model="$v.text.$model" placeholder="HTML" style="height:250px" rows="40"> </textarea>
                        </div>
                        <p class="help is-danger" v-show="$v.text.$error">Page needs content</p>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="type" value="page" checked>
                                Page
                            </label>
                            <label class="radio">
                                <input type="radio" name="type" value="post">
                                Post
                            </label>
                        </div>
                    </div>
                    <div class="has-text-centered">
                        <button type="submit" :disabled="$v.$invalid" class="button is-success is-medium">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</template>

<script>
import { required } from 'vuelidate/lib/validators'


    export default {
        data() {
            return {
                title:'',
                text: '',
                url: ''
            }
        },
        validations: {
            title: {
                required,
            },
            text:{
                required,   
            },
            url:{
                required,   
            }
        },
        methods: {
            onSubmit() {

            }
        },
        mounted(){
            // eslint-disable-next-line
            tinymce.init({
                selector: '#htmltextarea',
                plugins: [
                    "advlist autolink lists link image charmap print preview anchor",
                    "searchreplace visualblocks code fullscreen",
                    "insertdatetime media table paste imagetools wordcount"
                ],
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            });
        }
    }
</script>