<template>
    <section class="section">
        <div class="container">
            <div class="tabs is-toggle is-fullwidth">
                <ul>
                    <li :class="{'is-active': (currentTab === 'pages')}" @click="changeTab('pages')">
                        <a>
                            <span class="icon is-small"><i class="far fa-edit" aria-hidden="true"></i></span>
                            <span>Pages</span>
                        </a>
                    </li>
                    <li :class="{'is-active': (currentTab === 'posts')}" @click="changeTab('posts')">
                        <a>
                            <span class="icon is-small"><i class="fas fa-file-alt" aria-hidden="true"></i></span>
                            <span>Posts</span>
                        </a>
                    </li>
                    <li :class="{'is-active': (currentTab === 'menu')}" @click="changeTab('menu')">
                        <a>
                            <span class="icon is-small"><i class="fas fa-bars" aria-hidden="true"></i></span>
                            <span>Menu</span>
                        </a>
                    </li>
                    
                </ul>
            </div>
            <div>
                <table class="table is-bordered is-fullwidth is-hoverable is-centered" v-if="currentTab === 'pages'">
                    <thead>
                        <tr>
                            <td>Title</td>
                            <td>URL</td>
                            <td>status</td>
                            <td class="has-text-centered"><router-link class="button is-success is-outlined is-rounded " to="/page/create"><i class="fas fa-plus"></i> Create</router-link></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="page in pages" :key = "page.id">
                            <td>{{page.title}}</td>
                            <td>{{page.url}}</td>
                            <td>{{page.status}}</td>
                            <td class="has-text-centered"> <router-link class="button is-success is-outlined is-rounded " :to="{path: 'pages',params:{pageid: page.id}}">Edit</router-link></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table is-bordered is-fullwidth is-hoverable is-centered" v-if="currentTab === 'posts'">
                    <thead>
                        <tr>
                            <td>Title</td>
                            <td>URL</td>
                            <td>status</td>
                            <td class="has-text-centered"><router-link class="button is-success is-outlined is-rounded " to="/page/create"><i class="fas fa-plus"></i> Create</router-link></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="post in posts" :key = "post.id">
                            <td>{{post.title}}</td>
                            <td>{{post.url}}</td>
                            <td>{{post.status}}</td>
                            <td> <router-link :to="{path: 'post',params:{postid: post.id}}">Edit</router-link></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</template>

<script>

export default {
        data(){
            return{
                currentTab: 'pages',
                content: [],
            }
        },
        methods:{
            changeTab(tab){
                this.currentTab = tab;
            }
        },
        computed:{
            pages(){
                return this.content.filter((element) => {
                    return element.type === 'page';
                });
            },
            posts(){
                return this.content.filter((element) => {
                    return element.type === 'post';
                });
            },
            
        }
    }
</script>