<template>
    <section class="section">
        <div class="container">
            <div class="column is-half is-offset-one-quarter">
                <h1 class="title">Register</h1>
                <form @submit.prevent="onSubmit">
                    <div class="field">
                        <div class="control">
                            <input v-bind:class="[{'is-danger': $v.name.$error},'input','is-medium']" v-model="$v.name.$model" type="text" placeholder="Name">
                        </div>
                        <p class="help is-danger" v-show="$v.name.$error">Name is required</p>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input v-bind:class="[{'is-danger': $v.emailField.$error},'input','is-medium']" v-model="$v.emailField.$model" type="emailField" placeholder="emailField">
                        </div>
                        <p class="help is-danger" v-show="$v.emailField.$error">Email is required</p>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input v-bind:class="[{'is-danger': $v.password.$error},'input','is-medium']" v-model="$v.password.$model" type="password" placeholder="Password">
                        </div>
                        <p class="help is-danger" v-show="$v.password.$error">Password is required</p>
                    </div>
                    <button type="submit" :disabled="$v.$invalid" class="button is-success is-medium">Submit</button>
                </form>
            </div>
        </div>
    </section>
</template>

<script>

import { required, minLength, email } from 'vuelidate/lib/validators'
import { authenticate } from '@/services/authService'

export default {
    data(){
        return {
            name:'',
            emailField:'',
            password:''
        }
    },
    mixins: [authenticate],
    validations: {
        name:{
            required,
            minLength: minLength(3)
        },
        emailField:{
            required,
            email
        },
        password:{
            required,
            minLength: minLength(5)
        }
    },
    methods: {
        onSubmit(){
            if(!this.$v.$invalid){
                this.register()
            }
        }
    }
}
</script>